<%- include('./partials/header', {pageTitle : 'Productos'}) %> 
   <main>
        <section class="">
            <h2><%= producto.name %></h2>
            <img src="/images/<%=producto.img%>" alt="" style="max-width: 200px;">
            <div>
                <h3><%= producto.precio %></h3>
                <p>FICHA TÉCNICA</p>
                <p><%= producto.ficha %></p>
                    
                    <p>PRODUCTOR</p>
                    
                    
                    <p>TIPO</p>
                    <p><%= producto.tipe %></p>
                    
                    <p>VARIEDAD</p>
                    
                    
                    <p>CORTE</p>
                    
                    
                    <p>ALCOHOL</p>
                    <p><%= producto.alcohol %></p>
                    
                    <p>LUGAR DE ELABORACIÓN</p>
                    
                    
                    <p>CRIANZA / BARRICADO</p>
                    
                    
                    
                    <p>ELABORACIÓN</p>
                    
                    
                    <p>ENÓLOGO</p>
                    

                    <p>PAÍS</p>
                    <p>Argentina</p>
            </div>
            <article class="botones">
                <div class="button">
                <button type="submit">¡Comprar Ahora!</button>
                
                <button type="submit">Agregar al carrito <i class="fas fa-cart-plus"></i></button>
                </div>
                <div class="desplegables">
                <select name="cantidad" id="cant">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <select name="met-en" id="met">
                    <option value="1">Envio a domicilio</option>
                    <option value="2">Retiro por sucursal</option>
                    <option value="3">Retiro en correo y otros puntos</option>
                </select>
                </div>
            </article>
            
            
        </section>


        <section>
            <%- include('./partials/quizasTeInterese') %> 
       </section>


   </main>
<%- include('./partials/footer') %> 