<%- include('./partials/header', {pageTitle : 'Bobdega' }) %>

   <main>

      <section>
         <img src="/images/bannerBobdega.jpg" alt="" width="100%">
      </section>
      

      <div class="buttonForm1">

      <section>
         <% if (locals.isAnAdminLogged){ %>
           
         <a href="/user/rename">
            <h2 >Crear Admin</h2>
         </a>
         </a>
         <% } %> 
      </section>

      <section>
         <% if (locals.isAnUserLogged){ %>
         <a href="/product">
            <h2 >Ver Todos los Productos</h2>
         </a>
         <% } %> 
      </section>

      <section>
         <% if (locals.isAnAdminLogged){ %>
         <a href="/product/create">
            <h2 >Crear Producto</h2>
         </a>
         <% } %> 
      </section>

      <section>
         <% if (locals.isAnAdminLogged){ %>
         <a href="http://localhost:3000">
            <h2 >DashBoard</h2>
         </a>
         <% } %> 
      </section>

   </div>
      
     

     <div class="carruselTipos">


      <section class="articulosHome2">
         <h2 class="title">Regalos</h2>
         <div id="carouselExampleInterval1"  class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
               <a href="/product/detail/<%= gift[0].id %>"><img src="/uploads/<%= gift[0].image %>" width="300"  alt="Producto 1"></a> 
               </div>
              <div class="carousel-item" data-bs-interval="2000">
               <a href="/product/detail/<%= gift[1].id %>"><img src="/uploads/<%= gift[1].image %>" width="300"  alt="Producto 2"></a> 
              </div>
              <div class="carousel-item">
               <a href="/product/detail/<%= gift[2].id %>"><img src="/uploads/<%= gift[2].image %>" width="300"  alt="Producto 3"></a> 
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </section>

      <section class="articulosHome2">
         <h2 class="title">Tintos</h2>
         <div id="carouselExampleInterval2"  class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
               <a href="/product/detail/<%= tintos[0].id %>"><img src="/uploads/<%= tintos[0].image %>" width="300"  alt="Producto 1"></a> 
               </div>
              <div class="carousel-item" data-bs-interval="2000">
               <a href="/product/detail/<%= tintos[1].id %>"><img src="/uploads/<%= tintos[1].image %>" width="300"  alt="Producto 2"></a> 
              </div>
              <div class="carousel-item">
               <a href="/product/detail/<%= tintos[2].id %>"><img src="/uploads/<%= tintos[2].image %>" width="300"  alt="Producto 3"></a> 
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </section>

      <section class="articulosHome2">
         <h2 class="title">Blancos</h2>
         <div id="carouselExampleInterval3"  class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="2000">
               <a href="/product/detail/<%= blancos[0].id %>"><img src="/uploads/<%= blancos[0].image %>" width="300"  alt="Producto 1"></a> 
               </div>
              <div class="carousel-item" data-bs-interval="2000">
               <a href="/product/detail/<%= blancos[1].id %>"><img src="/uploads/<%= blancos[1].image %>" width="300"  alt="Producto 2"></a> 
              </div>
              <div class="carousel-item">
               <a href="/product/detail/<%= blancos[2].id %>"><img src="/uploads/<%= blancos[2].image %>" width="300"  alt="Producto 3"></a> 
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </section>


     </div>
   <%- include('./partials/quizasTeInterese',products) %>

      <section class="articulosHome" >
         <section class="sectionTour" >
            <h2>Tour por nuestros Viñedos</h2>
            <article class="tour">


               <div class="tour">
                  <div class="fotoBodega">
                     <img src="/images/Bodega.jpg" alt="" width="250">
                  </div>

                  <div>
                     <p class="descripcionBodega"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse autem
                        sit, architecto sed fugiat temporibus tempora quod perferendis. Id aut sunt beatae quibusdam et
                        qui, eius eligendi quis rerum! Sed! </p>
                  </div>
               </div>
            </article>
         </section>
         <script src="../../public/js/bootstrap.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   </main>
   <%- include('./partials/footer') %>