<%- include('./partials/header', {pageTitle : 'Ingresar'}) %> 
   <main class="logInMain">
    <i class="fas fa-user-circle" style="font-size: 50px;" ></i>

    <h3>Ingresa tu cuenta</h3>
    <form method="post" action="/user/login">
        <div class="loginDiv">
            <input type="text" name="email" placeholder="Nombre de usuario - Email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
            value="<%= locals.oldData ? oldData.email: null  %>" >
            
				<% if (locals.errors && errors.email) { %>
				<div class="text-danger">
					<%= errors.email.msg %>
				</div>
			<% } %>
        </div>
        <div class="loginDiv">
            <input type="password" name="password" placeholder="Contrase単a"
            class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
        >
        <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
                <%= errors.password.msg %>
            </div>
        <% } %>
        <% if (locals.error) { %>
            <div class="text-danger">
                <%= locals.msg %>
            </div>
        <% } %>
        </div>
        <label>
            <input type="checkbox" class="" name="reUser">Recordar mi usuario

        </label>
                    
        <div class="loginDiv">
            <button type="submit">Ingresar</button>
        </div>
       

    </form>

    
    <p>Ingresar con:</p>
    <div class="logos" >
    <i class="fab fa-google" style="font-size: 50px;"></i>
    <i class="fab fa-facebook" style="font-size: 50px"></i>
    </div>
    <div>
        <a href="">多Olvidaste tu contrase単a?</a>
        <a href="">多Olvidaste tu usuario?</a>
        <a href="/user/signin" >Crear cuenta</a>
    </div>

    </main>
<%- include('./partials/footer') %> 