<%- include('./partials/header', {pageTitle : 'Bobdega'}) %> 

   <main>
	
		<h2><%= titulo  %> </h2>
       
	<ul class="product">
		<% for( let i = 0; i < products.length; i++ ) { %>
		<li> 
			<img class="producImage" src="/uploads/<%= products[i].image %>" alt=""> <br>
			<strong><%= products[i].name %> </strong> <br>
			<a class="form-control" href="/product/detail/<%= products[i].id %>">ver detalle</a>
            <a class="form-control" href="/product/shoppingCart">Comprar</a>
		</li>
		<% } %>
	</ul>
       

    </main>
    <%- include('./partials/footer') %> 
