<%- include('./partials/header',  {pageTitle : 'MI Perfil'}) %> 


   <main>
    <section class="Sign-in">
        <i class="fas fa-user-circle" style="font-size: 18px;" ></i>

        <h3>usuario logueado:</h3>
        <section class="userDetail">
            <div>
                <div>Nombre:  <%=user.firstName %></div>
                <div>Apellido:  <%=user.lastName%></div>
                <div>Email:  <%=user.email%></div>
            </div>
            <div>
                <img class= "userImage" src="/userImageUploads/<%= user.image %>" alt="">
            </div>
        </section>
            <p>Ingresar con:</p>
            <i class="fab fa-google"></i>
            <i class="fab fa-facebook"></i>
        
    </section>

    <form action="/user/logout" method="post">
        <button class="btn btn-warning">Cerrarsesión</button>
    </form>

    </main>

<%- include('./partials/footer') %> 