<%- include('./partials/header',  {pageTitle : 'Registrate'}) %> 

<main>
    <section class="Sign-in">
        <i class="fas fa-user-circle" style="font-size: 50px;" ></i>

        <h3>Crea tu cuenta</h3>
        <form action="/user/signin" method="POST" class="formulario-s" enctype="multipart/form-data" id="formCreate">


          <div class="signInDiv">  
            <input type="text"
                   name="firstName"
                    placeholder="Nombre"
                    class="form-control <%= locals.errors && errors.firstName ? 'is-invalid': null %>"
                    value="<%= locals.oldData ? oldData.firstName : null %>">
                    <span></span>
                <% if (locals.errors && errors.lastName) { %>
                   <div class= "text-danger">
                       <%= errors.firstName.msg  %> 
                   </div>
               <% } %> 
               
                </div>

            <div class="signInDiv">

                <input type="text" 
                name="lastName" 
                placeholder="Apellido" 
                class="form-control <%= locals.errors && errors.lastName ? 'is-invalid': null %>"
                value="<%= locals.oldData ? oldData.lastName : null %>">
                <span></span>
            <% if (locals.errors && errors.lastName) { %>
               <div class= "text-danger">
                   <%= errors.lastName.msg  %> 
               </div>
           <% } %>  

            </div>

            <div class="signInDiv">
            <input type="email" name="email" placeholder="Email" class="form-control <%= locals.errors && errors.email ? 'is-invalid': null %>"
            value="<%= locals.oldData ? oldData.email : null %>">
            <span></span>

        <% if (locals.errors && errors.email) { %>
           <div class= "text-danger">
               <%= errors.email.msg  %> 
           </div>
       <% } %>  
             
        </div>

        <div class="signInDiv">
            <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control <%= locals.errors && errors.username ? 'is-invalid': null %>"
            value="<%= locals.oldData ? oldData.username : null %>" >
            <span></span>

        <% if (locals.errors && errors.username) { %>
           <div class= "text-danger">
               <%= errors.username.msg  %> 
           </div>
       <% } %>  
        
        </div>    

        <div class="signInDiv">
            <input type="password" name="password" placeholder="Contraseña" class="form-control <%= locals.errors && errors.password ? 'is-invalid': null %>" >
            <span></span>

        <% if (locals.errors && errors.password) { %>
           <div class= "text-danger">
               <%= errors.password.msg  %> 
           </div>
       <% } %>  
      
        </div>

        <div class="signInDiv">
            <input type="password" name="password2" placeholder="Repetir Contraseña" class="form-control <%= locals.errors && errors.password2 ? 'is-invalid': null %>">
            <span></span>

        <% if (locals.errors && errors.password2) { %>
           <div class= "text-danger">
               <%= errors.password2.msg  %> 
           </div>
       <% } %>  
        </div>

            

        <div class="signInDiv">
             <input type="file" id="uploadImages"  accept="image/gif,image/jpeg,image/jpg,image/png" name="image" placeholder="Imagen" class="form-control <%= locals.errors && errors.image ? 'is-invalid': null  %>" >
            <span></span>

             <% if (locals.errors && errors.image) { %>
                <div class="text-danger">
                    <%= errors.image.msg %>
                </div> 
             <% } %>    
        </div>

           

        <div class="signInDiv">
            <button type="submit" class= "form-control">Registrarse</button>
        </div>
            
        </form>
            <p>Ingresar con:</p>
            <div class="logos">
            <i class="fab fa-google" style="font-size: 50px;"></i>
            <i class="fab fa-facebook" style="font-size: 50px;"></i>
            </div>
        
    </section>
    </main>

    <script src="/js/signin.js"></script>
    
    

<%- include('./partials/footer') %> 