<section class="interes">
    <div>
    <h2 class="title">¡Quizas esto te interese!</h2>
    </div>
       <div class="productos">
            <article class="articulosProductos">
                <a href="/product/detail/2"><img src="/uploads/<%=products[1].image%>" alt=""></a>
                <h3>Precio: $ <%=products[1].price%></h3>
                </article>
            <article class="articulosProductos">
                <a href="/product/detail/3"><img src="/uploads/<%=products[2].image%>" alt=""  ></a>
                <h3>Precio: $ <%=products[2].price%></h3>    
            </article>
            <article class="articulosProductos">
                <a href="/product/detail/4"><img src="/uploads/<%=products[3].image%>" alt=""  ></a>
                <h3>Precio: $ <%=products[3].price%></h3>    
            </article>
            <article class="articulosProductos">
                <a href="/product/detail/5"><img src="/uploads/<%=products[4].image%>" alt="" ></a>
                <h3>Precio: $ <%=products[4].price%></h3>   
            </article>
        </div>
   </section>